body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  padding: 20px;
}

a {
  display: block;
  margin: 10px 0;
  color: #38bdf8;
  text-decoration: none;
}

input, button {
  padding: 8px;
  margin: 5px 0;
}
